[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
mypy = "*"
flake8 = "*"
isort = "*"
pylint = "*"
pre-commit = "*"
bandit = "*"
py-make = {editable = true, ref = "master", git = "https://github.com/tqdm/py-make.git"}
black = "*"
psycopg2 = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
